.sertificates {
  font-family: 'Montserrat', Times, serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
  color: #333333;
  position: relative;

  @media (max-width: 940px) {
    padding-top: 200px;
    flex-direction: column;
    margin-bottom: 60px;
    justify-content: normal;
    align-items: normal;
  }

  @media (max-width: 670px) {
    padding-top: 115px;
  }

//&__img {}
  &__info {
      max-width: 560px;

      @media (max-width: 940px) {
        max-width: 100%;
      }

      & h3 {
          font-weight: 700;
          font-size: 40px;
          line-height: 50px;

          @media (max-width: 940px) {
            position: absolute;
            top: 35px;
            text-align: center;
          }
          
          @media (max-width: 670px) {
            font-size: 21px;
            line-height: 25px;
          }
      }

      & ul{
          list-style-image: url(../../assets/stocks/ellipse.svg);
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          padding-left: 17px;

          @media (max-width: 470px) {
            font-size: 14px;
            line-height: 18px;
          }
          
          & li {
             padding-top: 15px;

             &:first-child{
              padding-top: 30px;
             }
          }
      }
  }

  &__img{
    padding: 0 20px 0 0;

    @media (max-width: 940px) {
      padding: 0;
    }
    & img{
      width: 100%;
      min-width: 450px;

      @media (max-width: 670px) {
       min-width: auto; 
      }

      @media (max-width: 940px) {
        
      }
    }
  }
}